@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
  min-width: 345px;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.primaryButton {
  border-radius: 6px;
  border: 1px solid linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%), #fff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%), #f54400;
  box-shadow: 0px 1px 2px 0px rgba(255, 149, 73, 0.31), 0px 0px 0px 1px #f54400;
}

.primaryButton:hover {
  border-radius: 6px;
  border: 1px solid #fff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0) 100%), #f54400;
  box-shadow: 0px 1px 2px 0px rgba(255, 149, 73, 0.5), 0px 0px 0px 1px #ac3000;
}

.primaryButton:active {
  border-radius: 6px;
  border: 1px solid linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%), #fff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%), #f54400;
  box-shadow: 0px 1px 2px 0px rgba(255, 149, 73, 0.5), 0px 0px 0px 1px #f54501, 0px 0px 0px 2px #1e1e1e,
    0px 0px 0px 3px rgba(255, 149, 73, 0.5);
}

.successButton {
  border-radius: 6px;
  border: 1px solid linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%), #00d68f;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%), #007f66;
  box-shadow: 0px 1px 2px 0px #098b72, 0px 0px 0px 1px #00705a;
}

.successButton:hover {
  border-radius: 6px;
  border: 1px solid #00d68f;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0) 100%), #007f66;
  box-shadow: 0px 1px 2px 0px #00d68f, 0px 0px 0px 1px #005c4f;
}

.successButton:active {
  border-radius: 6px;
  border: 1px solid linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%), #00d68f;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%), #007f66;
  box-shadow: 0px 1px 2px 0px #00d68f, 0px 0px 0px 1px #00705a, 0px 0px 0px 2px #1e1e1e, 0px 0px 0px 3px #00d68f;
}

.failButton {
  border-radius: 6px;
  border: 1px solid linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%), #ff4d4f;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%), #df1c41;
  box-shadow: 0px 1px 2px 0px rgba(113, 14, 33, 0.5), 0px 0px 0px 1px #b71836;
}

.failButton:hover {
  border-radius: 6px;
  border: 1px solid #ff4d4f;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0) 100%), #df1c41;
  box-shadow: 0px 1px 2px 0px #ff4d4f, 0px 0px 0px 1px #b71836;
}

.failButton:active {
  border-radius: 6px;
  border: 1px solid linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%), #ff4d4f;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%), #df1c41;
  box-shadow: 0px 1px 2px 0px #ff4d4f, 0px 0px 0px 1px #b71836, 0px 0px 0px 2px #1e1e1e, 0px 0px 0px 3px #ff4d4f;
}

.cooldownButton {
  border-radius: 6px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%), #5496f8;
}

.faucetDetails {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(193, 199, 208, 0.02) 100%),
    rgba(142, 152, 168, 0.14);
  box-shadow: 0px 1px 2px 0px rgba(164, 172, 185, 0.24), 0px 0px 0px 1px rgba(18, 55, 105, 0.08);
}
